html {
    margin: 0;
    padding: 0;
    background-color: inherit;
}

body {
   background-position-y: 80px;
   background-repeat: repeat-y;
}

/* mise en forme des block de contenu */
.section-block {
    background:#077bd2;
    border-radius:2em;
    text-align: justify;
    padding: 1em 1em 1em 1em;
    margin-top:2em;
    margin-bottom:2em;
    background-color :#305370; /*bronze*/
}

.bandeau {
    display: block;
    background-color: #305370;
    width: 110%;
    margin: 0;
    padding: 0;
    height: auto;
    opacity: 1;
    border:none;
    border-radius:0 ;
    margin-left: -8px;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

/* MENU ----------------------------------------------------------------------- */
.menu{
    display: block;
    background-color:#305370; /*bleu contraste*/
    border : none ;
    position: fixed;
    bottom: auto;
    height: auto;
    top : 84px; 
    height: 100%;
    width: 10.5em;
}


.menu ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    
}

.menu ul li {
    display: inline-block;
	height: 40px;
	
    text-align : center;
    width:10.5em;
    margin-bottom: 20px;

}

.menu ul li a{
    color: white;
	text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 10.5em;
	height: 40px;
    padding-top: 20px;
    text-align : center;
    border-bottom: 1px solid #222222;
}

.menu ul li:hover {
    background-color: #077bd2 ;
}   

.menu ul li a:hover {
    background-color: #077bd2 ;
}   


/* CONVERT OLD BALISE INTO CLASS ------------------------------------------------------ */

.titrespectacle{
    text-transform: uppercase;
    font-size:95%;
    font-weight: bold;
    color:white;
    color: orange;
}

.horaire{
    font-weight: bold;
    
}

.lieu{	
    font-weight: normal;
    
}

.troupe {
    
}

.auteur{
    font-family: italic;
/*	color: black;*/
}




/* RESERVATION BILLET + PANIER ------------------------------------------------ */
.selectInForm {
    width: auto;
    height: 26px;
    border-radius: 8px;
}

option {
    background-color: #dddddd;
    border-radius: 10px;

}


.inputInForm {
    width: auto;
    height: 26px;
    border-radius: 6px;
    border-color: #dddddd;
    background-color: #dddddd;

}

#btnNewReservation {
    border-radius: 50%;
    color: black;
    border: none;
    background-color: #dddddd;
    font-size: 26px;
    width: 34px;
    float: right;
    margin-right: 30px;
}

#inputSubmitFormReservation {
    display : block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color : black;
    font-size: 14px;
    background-color: #dddddd;
    border : none; 
    border-radius: 4px;
}

#btnAjouterSpectacleDansPanier{
    border-radius: 50%;
    color: black;
    border: none;
    background-color: #dddddd;
    font-size: 26px;
    width: 34px;
    float: right;
    margin-right: 30px;   
}

#idValiderPanier {
    display : block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color : black;
    font-size: 14px;
    background-color: #dddddd;
    border : none; 
    border-radius: 4px;
}

.btnSupprPanier {
    display : block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color : black;
    font-size: 16px;
    background-color: #dddddd;
    border : none; 
    border-radius: 4px;
}

.msgErrorDistanceTimeForm {

    color: red;
}


.boxValidationErreurPanier{
    display: block;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background-color: green;
}

.msgValidationErreurPanier {
    padding-top : 14px; 
    color: greenyellow;   
}

/* GRAPHE ----------------------------------------------------------------------- */
.choixAffichageGraphe{
    text-align: center;
}

.container {
    display: inline-block; 
    margin-bottom: 20px;
    margin-left: 9%;
    margin-right: auto;
}

.btnRadioGraphe {
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}