.section-block {
    background:#077bd2;
    border-radius:2em;
    text-align: justify;
    padding: 1em 1em 1em 1em;
    margin-top:2em;
    margin-bottom:2em;
    background-color :#305370; /*bronze*/
}